*{
    margin: 0;
}


.container{
    display: flex;
    height: 100vh;
}

.iconCont{
    width: 5vw;
    background-color: red;
}

.button{
    height: 10vh;
    width: 100%;
}


.projectCont{
    width: 15vw;
    background-color: blue;
}

.project{
    border:1.2px solid black;
    height:1em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 1em 0em;
}

.mainCont{
    width: 60vw;
    background-color: green;
}

.infoCont{
    width: 20vw;
    background-color: brown;
}

